:root {
  --progress: 50%;
}

.timeline {
  position: relative;
  display: block;
  height: 2em;
  width: 100%;
  margin-top: $large-spacing;
  background: var(--light-gray);

}

.timeline__progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.timeline__progress__bar {
  position: absolute;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--blue);
  animation: progress 1.5s ease-out .5s 1 normal both;
}

.timeline__pin {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  right: 100%;
  bottom: 0;
  display: block;
  z-index: 10;
  animation: progress 1.5s ease-out .5s 1 normal both;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200%;
    transform: translateX(50%);
    animation: fade-in .3s ease-out 1s 1 normal both;
  }

}
