// GLOBAL VARIABLES
////////////////////////////////////////////////////////////////

// Typography
$base-font-family:'Roboto', sans-serif;
$secondary-font-family: $base-font-family;

// Sizes
$max-width: 1300px;
$base-spacing: 1rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;

// Colors



:root {
  --red: #FF837C;
  --yellow: #FBC15B;
  --orange: #F7941D;
  --blue: #0096D6;
  --dark-blue: #0069AA;
  --green: #A2D291;
  --dark-gray: #303A44;
  --medium-gray: #5A6771;
  --light-gray: #DEE1E3;

  --status-color: #0096D6;
  --status-text-color: #fff;

  --base-color: var(--orange);
  --base-font-color: #fff;
  --secondary-font-color: var(--dark-gray);

  --base-background-color: var(--dark-gray);
  --secondary-background-color: #fff;
}
.status--good {
  --status-color: #A2D291;
}
.status--medium {
  --status-color: #FBC15B;
}
.status--bad {
  --status-color: #FF837C;
}

// Gradients
$gray-gradient: linear-gradient(left, var(--dark-gray) 0%, var(--dark-gray) 100%);

// Font Colors
// $base-font-color: #fff;
// $secondary-font-color: $dark-gray;

// Background Colors


// Borders
$base-border-color: #DEE1E3;
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;
