// GLOBAL VARIABLES
////////////////////////////////////////////////////////////////

// Typography
$base-font-family:'Helvetica', sans-serif;
$secondary-font-family: $base-font-family;

// Sizes
$max-width: 1300px;
$base-spacing: 2rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;

// Colors
$dark-gray: #303A44;
$medium-gray: #5A6771;
$light-gray: #DEE1E3;
$yellow: #FBB03F;
$orange: #F7941D;
$dark-orange: #0069AA;
$blue: #0096D6;
$dark-blue: #0069AA;


// Font Colors
$base-color: $orange;
$base-font-color: $dark-gray;
$secondary-font-color: #fff;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $dark-gray;

// Borders
$base-border-color: $light-gray;
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;
