// SITE HEADER LAYOUT STYLES
////////////////////////////////////////////////////////////////

.header {
  background: $gray-gradient;
  height: 20vh;
  transition: all .3s;
}

.is-dashboard .header {
  height: 5vh;
}


.header__container {
  @include container;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;

}

.header__logo {
  height: 60px;
  width: auto;
  transition: all .3s;
}

.is-dashboard .header__logo {
  height: 3vh;
}
