// SITE SECTIONS LAYOUT STYLES
////////////////////////////////////////////////////////////////
%section {
  position: relative;
  padding: $large-spacing 0;
  z-index: 99;
}

.l-section {
  @extend %section;
  background:  var(--base-background-color);
}

.l-section--secondary {
  @extend %section;
  @extend %inverse;
  background: var(--secondary-background-color);
}
